__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

build/
dist/
*.egg-info/
.env

.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

*.log

web/uploads/*


!web/uploads/.gitkeep

.vscode/
.idea/

*.pid
*.tmp



*.pdf
*.md

report/